<% provide(:project_link, "project-active") %>

<div class="display">
	<h2 class="title">Projects</h2>
	<div id="projects-index" class="index clearfix">
		<p>My projects</p>
		<%= link_to "Let me  go to a single project", '/projects/show' %>
	</div>
</div>